/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/


.intentContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.button{
    margin: 0 1rem;
}